{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="red">
                    <i class="material-icons">timeline</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Temperature
                    </h4>
                </div>
                <div id="tempLineChart" class="ct-chart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">timeline</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Humidity
                    </h4>
                </div>
                <div id="humidityLineChart" class="ct-chart"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/chartist.min.js') }}" type="text/javascript"></script>
    <script>
        dataTempLineChart = {
            labels: ['\'06', '\'07', '\'08', '\'09', '\'10', '\'11', '\'12', '\'13', '\'14', '\'15'],
            series: [
                [287, 480, 290, 554, 690, 690, 500, 752, 650, 900, 944]
            ]
        };
        optionsColouredRoundedLineChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 10
            }),
            axisY: {
                showGrid: true,
                offset: 40
            },
            axisX: {
                showGrid: false,
            },
            low: 0,
            high: 1000,
            showPoint: true,
            height: '300px'
        };
        var tempLineChart = new Chartist.Line('#tempLineChart', dataTempLineChart, optionsColouredRoundedLineChart);
        md.startAnimationForLineChart(tempLineChart);

        dataHumidityLineChart = {
            labels: ['\'06', '\'07', '\'08', '\'09', '\'10', '\'11', '\'12', '\'13', '\'14', '\'15'],
            series: [
                [928, 413, 667, 524, 670, 214, 289, 839, 327, 342, 445]
            ]
        };
        var humidityLineChart = new Chartist.Line('#humidityLineChart', dataHumidityLineChart, optionsColouredRoundedLineChart);
        md.startAnimationForLineChart(humidityLineChart);
    </script>
{% endblock %}